@media (max-width: 1120px) {
  .slider_section .detail-box {
    border: none;
  }
}

@media (max-width: 992px) {
  .hero_area {
    height: auto;
  }

  .slider_section {
    padding-bottom: 75px;
  }

  .carousel-indicators {
    bottom: -35px;
  }

  .projects_section .projects_container .box {
    flex-basis: 45%;
  }

  .contact_section .form_container {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .layout_padding,
  .layout_padding-top,
  .layout_padding-bottom {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

  .hero_area::before {
    width: 225px;
    height: 110px;
  }

  .slider_section .detail-box {
    text-align: left;
  }

  .slider_section .detail-box .btn-box {
    justify-content: left;
  }

  .about_section .detail-box,
  .skills_section .img-box {
    width: 100%;
    padding: 0;
    margin-left: 75px; 
  }

  .slider_section .img-box {
    margin-bottom: 35px;
  }

  .us_section .us_container {
    flex-direction: column;
  }

  .us_section .us_container .box:not(:last-child) {
    margin-bottom: 45px;
  }

  .us_section .us_container::before {
    display: none;
  }

  .skills_section .detail-box {
    margin-top: 90px;
    align-items: flex-start; 
    text-align: left;
  }

  .experiences_section #carouselExampleControls {
    flex-direction: column;
    align-items: center;
  }

  .experiences_section .carousel_btn-box {
    margin-top: 45px;
  }


@media (max-width: 576px) {
  
   .heading_container {
     align-items: center;
     text-align: center;
   }

   .slider_section .detail-box h1 {
     font-size: 2.5rem;
   }

   .projects_section .projects_container .box {
     flex-basis: 95%;
     animation: none !important; 
   }

   .contacts_section .box {
     flex-direction: column;
     align-items: center;
     text-align: center;
   }

   .contacts_section .box .img-box {
     margin-bottom:25px; 
   }


   .contact_section .map_container {
     height:475px; 
   }
}

@media (max-width: 480px) {
   .skills_section .img-box::before {
     background-size: cover; 
   }
}

.skills_section .img-box {
  padding: 0;
  margin-left: 10px;
}

.skills_section .detail-box {

  margin-top: 90px;

}

.skills_section .detail-box .heading_container {

  align-items: flex-start;
  text-align: left;

}

@media (max-width:420px) {}

@media (max-width:375px) {


   .contact_section .map_container { 
     height:400px; 
   }
}

@media (min-width:1200px) {
   .container { 
     max-width:1170px; 
   }
}